/* body{
    background: linear-gradient(90deg,#b92b27, #1565c0);
    padding: 0px;
    border: 3px solid black;
    margin: 0px;
} */
/* .welcome{
  background-color: aquamarine;
  
     border-top: 3px #EB5353 dotted; 
    border-right: 3px #F9D923 double;
    border-bottom: 3px #36AE7C dashed;
    border-left: 3px #187498 solid; 
    
}
 .robie{
    border-radius: 50% 50% 47% 53% / 53% 52% 48% 47% ;
 }  */
 /* .andra{
    background-image: url(images/robbie-lens.png);
    background-attachment:local;
    background-size:contain;
    background-position:center;
    height: 300px;
 } */

/* .welcome h1{
    color: red;
    background-color: blue;
    border: 3px solid black;
    margin: 0px;
    padding: 15px;
}
.welcome p{
    color: blueviolet;
    background-color: chartreuse;
    border: 3px solid black;
    margin-bottom: 0px;
}
.start{
    border: 3px solid green;
    background-color: cadetblue;
}
.start h1{
    color: chartreuse;
}
.start p{
    color: crimson;
} */
table{
    border-collapse: collapse;
    margin: auto;
}
td,th{
    border: 1px solid  black;
    padding: 15px;
}
